# Maven build output
**/target

# Java / JVM artifacts
*.class
*.jar
*.war
*.ear

# IDE files
.idea/
.vscode/
*.iml

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Environment files
.env
.env.*
!.env.example

# Maven Wrapper
mvnw
mvnw.cmd
.mvn/


#Terraform
.terraform
.terraform/**
.terraform.lock.hcl